In [ ]:
#import libraries
import requests
import time
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
#websites links
timeanddate_link = 'https://www.timeanddate.com/on-this-day/december/25'
britannica_link = 'https://www.britannica.com/on-this-day/December-25'

In [ ]:
#fetch results
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36'}
res = requests.get(timeanddate_link, headers=headers)
timeanddate = BeautifulSoup(res.content, 'html.parser')
res = requests.get(britannica_link, headers=headers)
britannica = BeautifulSoup(res.content, 'html.parser')

In [ ]:
#extract who share birthday
persons = []
data = timeanddate.select('.otd-life__block:first-child ul .otd-title')
longest_name = 0
for person in data:
  year = person.find('strong').text
  name = person.text.replace(year+' ', '')
  persons.append({'name': name, 'year': year})
  if(len(name) > longest_name):
    longest_name = len(name)

persons_table = ('----------------------------\n  I share my birthday with\n----------------------------\n%-'+ str(longest_name) +'s\tYear\n----------------------------') % 'Name'
for person in persons:
  persons_table += ('\n%-'+str(longest_name)+'s\t%s') % (person['name'], person['year'])

print(persons_table + '\n\n\n')

----------------------------
  I share my birthday with
----------------------------
Name               	Year
----------------------------
Alastair Cook      	1984
Rod Serling        	1924
Humphrey Bogart    	1899
Muhammad Ali Jinnah	1876
Isaac Newton       	1642

In [ ]:
#extract events on birthday
events = []
data = britannica.select('.otd-featured-event .title ')[0].text + '.'
events.append(data)
data = britannica.select('.md-history-event .card-body')
for row in data:
  row.select('div')[0].decompose()
  row.select('.font-weight-bold')[0].decompose()
  events.append(row.text.replace('\n', '').lstrip())
events

events_list = 'Following events were occured on my birthday\n---------------------------------------------'
for i in range(len(events)):
  events_list += '\n' + str(i) + '. ' + events[i]

print(events_list)

Following events were occured on my birthday
---------------------------------------------
0. Christmas celebrated worldwide.
1. American singer and songwriter James Brown, known as “the Godfather of Soul,” died at the age of 73.
2. Mikhail Gorbachev resigned the presidency of the Soviet Union, which ceased to exist at the end of the year.
3. Charlie Chaplin, the British comedic actor and director who is widely regarded as one of the most important figures in motion-picture history, died in Corsier-sur-Vevey, Switzerland.
4. The film adaptation of Harper Lee's To Kill a Mockingbird premiered and became a classic, especially noted for Gregory Peck's portrayal of Atticus Finch.
5. Clara Barton, founder of the American Red Cross, was born in Oxford, Massachusetts.
6. During the American Revolution, General George Washington crossed the Delaware River and surprised the British at Trenton, New Jersey.
7. William I was crowned king of England, formally completing the Norman Conquest.
8. Charlemagne, king of the Franks, became the first emperor of the Holy Roman Empire.

In [ ]:
file = open('birthday_data.txt', 'w')
file.write(persons_table + '\n\n\n' + events_list)
file.close()